/* Estilos específicos para el componente ServiceCard */

.service-card {
  @apply bg-white rounded-lg shadow-lg p-1 hover:shadow-xl transition-shadow duration-300;
  width: 180px;
  max-width: 180px;
  min-width: 180px;
}

.service-card-image-container {
  @apply w-full h-32 bg-secondary-800 rounded-md flex items-center justify-center mb-1 overflow-hidden;
}

.service-card-image {
  @apply w-full h-full object-contain p-1;
}

.service-card-button-container {
  @apply mt-1;
}

.service-card-button {
  @apply bg-accent-600 text-white px-2 py-1 rounded-md text-xs font-semibold hover:bg-accent-700 transition-colors duration-300;
}
