---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import About from '../components/sections/About.astro';
import Testimonials from '../components/sections/Testimonials.astro';
import Contact from '../components/sections/Contact.astro';
---

<Layout title="Transformación Digital - Agrega Valor a las Organizaciones" description="Dignificamos el Trabajo Humano y Aceleramos Tu Éxito Empresarial con Tecnología de Vanguardia">
  <Header />
  <main>
    <Hero />
    <Services />
    <About />
    <Testimonials />
    <Contact />
  </main>
  <Footer />
</Layout>